/* The following font declarations are taken from LaTeX.css, modified for this usecase under MIT license */

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-regular.woff2') format('woff2'),
    url('./fonts/LM-regular.woff') format('woff'),
    url('./fonts/LM-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-italic.woff2') format('woff2'),
    url('./fonts/LM-italic.woff') format('woff'),
    url('./fonts/LM-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold.woff2') format('woff2'),
    url('./fonts/LM-bold.woff') format('woff'),
    url('./fonts/LM-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold-italic.woff2') format('woff2'),
    url('./fonts/LM-bold-italic.woff') format('woff'),
    url('./fonts/LM-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/Bebas-Regular.otf') format('otf'),
    url('./fonts/LM-bold-italic.woff') format('woff'),
    url('./fonts/LM-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Boris Black Bloxx';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/BorisBlackBloxx.ttf') format('truetype'),
    url('./fonts/LM-bold-italic.woff') format('woff'),
    url('./fonts/LM-bold-italic.ttf') format('truetype');
}

@-ms-viewport
{
    width: device-width;
}
@-o-viewport
{
    width: device-width;
}
@viewport
{
    width: device-width;
}
a,
a:hover,
a:visited,
a:link
{
    text-decoration: none;

    color: #526d7a;
}
body
{
    font-family: 'Latin Modern', 'Roboto Slab', 'Roboto', 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;

    width: auto;
    height: 100%;
    min-height: 100%;
    margin: 0;
    background-color: #fcfcfc;
}
html
{
    position: relative;

    height: 100%;
    min-height: 100%;
    margin: 0;
}
li
{
    text-align: left;
}
.author
{
    color: #444;
}
.author h1,
.author h2,
.author h3,
.author h4,
.author h5,
.author h6,
.author p
{
    font-family: 'Boris Black Bloxx', 'Roboto Slab', serif;
}
.category
{
    color: #966 !important;
}
.container
{
    overflow: auto;

    max-width: 680px;
    padding: 0 15px;
}
.content
{
    margin-top: 20px;
    margin-bottom: 20px;
}
div.content
{
    font-family: 'Latin Modern', 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;

    color: #777;
}
.copyright
{
    font-family: 'Latin Modern', 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;
}
.description
{
    font-family: 'Bebas', 'Roboto', sans-serif;
    font-weight: 200;
    color: #8b8b8b;
}
.error
{
    font-family: 'Latin Modern', 'Roboto', sans-serif;

    margin-top: 100px;
}
.error h1
{
    font-size: 80px;

    color: #8b8b8b;
}
.error p
{
    margin-top: 150px;

    color: #777;
}
.excerpt
{
    font-family: 'Latin Modern', 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 200;

    color: #555;
    margin-bottom: 20px;
}
.footer
{
    margin-top: 10px;

    color: #8b8b8b;
}
.header
{
    margin-top: 60px;
    margin-bottom: 20px;
}
.headshot
{
    width: 200px;
    height: 200px;
}
.info
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.intro
{
    font-family: 'Boris Black Bloxx', 'Latin Modern', 'Roboto Slab', serif;
    font-weight: 200;
    color: #777;
}
h3.intro
{
    margin-top: 0px
}
.list
{
    font-family: 'Latin Modern', 'Latin Modern', 'Roboto', sans-serif;

    margin-top: 50px;
}
.list li
{
    list-style: none;
}
.list-entry
{
    font-family: 'Latin Modern', 'Latin Modern', 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 400;

    margin-top: 10px;
    margin-bottom: 20px;
}
.list-entry-link
{
    padding: 0;
}
.main-menu
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu-item
{
    font-family: 'Latin Modern', 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;

    text-decoration: none;

    color: #8b8b8b !important;
}
.meta
{
    font-family: 'Latin Modern', 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;

    color: #8b8b8b;
}
a.meta
{
    color: #966;
}
h6.meta
{
    font-family: 'Latin Modern', 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;

    color: #8b8b8b;
}
section.meta {
    margin-top:
}
.powered
{
    font-family: 'Latin Modern', 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.social {
    margin-top: 10px;
    margin-bottom: 20px;
}
.social,
.social a
{
    color: #526d7a;
}
.title
{
    font-family: 'Latin Modern', 'Roboto Slab', serif;
    font-weight: 400;

    color: #555;
}
header.title
{
    margin-top: 50px;
    padding: 0 15px;
}
@media (max-width: 991px)
{
    .header
    {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .list
    {
        font-family: 'Latin Modern', 'Roboto', sans-serif;

        margin-top: 30px;
    }
}
pre > code {
    white-space: pre;
    word-wrap: initial;
    word-break: initial;
}
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto;
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;
}

